


<style type="text/css">
    .DisplayBlock {
        display: block;
        padding-left: 7%;
        padding-right: 7%;
    }

    .lead {
        font-size: 1.171875rem;
        font-weight: 300;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
</style>

@{
    // var item = Sitecore.Context.Database.GetItem("/sitecore/content/Alexa/Home/Settings/GlobalSettings");
    var item = Sitecore.Context.Database.GetItem("{167070A3-81D5-4289-9709-A430D7E32CDC}");
}
<main role="main" class="container blog-post-detail">
    <div class="row">
        <div class="blog-post-detail-card card col-lg-12">
            <img class="card-img-top" src="assets/images/tech.jpg" alt="Card image cap">
            <div class="card-body bg-light">
                <strong class="d-inline-block mb-2 text-success">Design</strong>
                <h3 class="card-title"> @Html.Sitecore().Field("Title", item)</h3>
                <div class="mb-1 text-muted"> @Html.Sitecore().Field("PostedDate", item)</div>
                <p class="lead" style="margin:2% !important"> @Html.Sitecore().Field("LongDescription", item)</p>

                
                <div class="blog-detail-tag-list">
                    <span class="read-more-heading">@Html.Sitecore().Field("ArticleReadMoreLable", item): </span>
                    @{foreach (DobleHelix.Feature.Article.Models.GetItemsss mytag in Model)
                        {

                            char[] spearator = { '|' };
                            String[] list = mytag.name.Split(spearator);

                            for (var i = 1; i <= list.Length-1; i++)
                            {
                               

                                 <a class="btn btn-info" href="#" role="button">@list[i]</a>            
                                
                            }
                        }

                    }
                    
                </div>
            </div>
        </div>
    </div>
</main>
<div class="DisplayBlock" style="width: auto; height: 40%; border: 0px yellow solid;margin-bottom:4%;display:none">
    <div id="image" style="width: 100%; top: 0px; display: inline-block; ">

        @Html.Sitecore().Field("ArticleLargeImage", item)
    </div>

    <div id="ContentBlog" style="width: 100%; top: 0px; display: inline-block; padding-left: 3%; padding-right: 3%; background-color: white;">
        <p style="color:greenyellow;font-weight:bold"> @ViewBag.name   Design</p>
        <h2 style="color:black;font-weight:300"> @Html.Sitecore().Field("Title", item)</h2>
        <p style="color:black">   @Html.Sitecore().Field("PostedDate", item)</p>

        <p class="lead" style="margin:2% !important"> @Html.Sitecore().Field("LongDescription", item)</p>
        <span style="color:black">Read more:</span>
        <button type="button" id="Tag" style="background-color:mediumpurple;color:white;height:30px;width:7%;padding:0px !important;border:none">
            Tag
        </button>
        <button type="button" id="TagSEtr" style="background-color:mediumpurple;color:white;height:30px;width:17%;padding:0px !important;border:none">
            Super Extra Long Tag
        </button> <button type="button" id="TagEtr" style="background-color:mediumpurple;color:white;height:30px;width:12%;padding:0px !important;border:none">
            Extra Long Tag
        </button>
       
    </div>

</div>



